@media (max-width: $breakpoint-lg){
    .imgbox {
        margin-left: 165px;
    }
    #content2 {
      height: 980px;
    }
    .footer a {
        font-size: 15px;
        margin-left: 48px;
    }
}
