@media (max-width:$breakpoint-sm){
   #content2{
       height: 1800px;
   }
   .imgbox{
       margin-left: 15%;
   }
   #content1 p {
    margin-top: 120px;
}
    .footer a {
    font-size: 11px;
    margin-left: 6px;
}
}