.container{
    margin: 0 auto;
}
body{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

// subcontent
.subcontent{
    max-width: 1200px;
    margin: 0 auto;
}

// primer contenedor
#content1{
    background-color: #87509c;
    .logo{
        margin-left: 100px;
        margin-top: 20px;
    }
    .list{
        float: right;
        li{
            display: inline;
            list-style: none;
            margin-right: 26px;
            color: $white;
        } 
        :hover{
            background-color:$colorHover;
            padding: 5px;
            border-radius: 5px;
        }
    }
    p{
       text-align: center;
       color: $white;
       font-size: 2em;
   }
  
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

// segundo contenedor
#content2{
    background-color: $green;
    height:800px;
    color: $white;
    h2{
        @include size-h2;
    }
    p{
        color: $white;
        text-align: $textC;
    }
}

// lineas de titulos
.line-green{
    @include line ($lineG);
}
.line-blue{
    @include line($lineB);
}
    
// box image
.imgbox{
    width: 250px;
    text-align: center;
    float: left;
    margin-left: 40px;
    margin-top: 74px;
}

// tercer contenedor
#content3{
    background-color: $blue;
    color: $white;
    h2{
        @include size-h2;
    }
    .center{
        text-align: $textC;
    }
    span{
        color: $red;
    }
}



// footer
.footer{
    background-color: $blueF;
    .social{
        margin-top: -1px;
    }
    li{
        display: inline;
        list-style: none;
        margin-right: 26px;
       } 
       a{
        color: $white;
        text-decoration: none;
        font-size: 25px;
       }
       :hover{
           color: $social;
       }
}