// Breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$white:white;
$green:#17c2a4;
$blue:#3c5499;
$blueF:#344b8e;
$button:#eb7d4b;
$textC:center;
$line:#16b99d;
$colorHover:#784a8c;
$boxInf:#273a71;
$red:red;
