.form{
    background-color: $boxInf;
    border-color: $boxInf;
    border-block-end-color: $boxInf;
    width: 50%;
    height: 30px;
    border-width: 0;
    border-radius: 4px;
}
.inf2{
    display: inline;
}